<section id="about-us">
  <div class="about-us-container container">
    <div>
      <img
        class="about-us-img-one"
        src="/img/about-us/about-us-1.png"
        srcset="
          /img/about-us/about-us-1.png    1x,
          /img/about-us/about-us-1@2x.png 2x
        "
        width="60"
        height="61"
        alt="img1"
      />
    </div>
    <div>
      <h2 class="about-us-title">About Us</h2>
      <p class="about-us-text">
        Mansion Blast is an exciting puzzle and merging game where players
        renovate and decorate their dream mansion by solving engaging puzzles
        and merging items. Set in a charming world, the game combines creativity
        and strategy as you blast through levels, unlock new areas, and bring
        your dream home to life. With vibrant graphics and a captivating
        storyline, Mansion Blast offers endless fun for casual gamers and puzzle
        enthusiasts alike.
      </p>
    </div>
    <div>
      <img
        class="about-us-img-two"
        src="/img/about-us/about-us-2.png"
        srcset="
          /img/about-us/about-us-2.png    1x,
          /img/about-us/about-us-2@2x.png 2x
        "
        width="60"
        height="61"
        alt="img2"
      />
      <img
        class="about-us-img-three"
        src="/img/about-us/about-us-3.png"
        srcset="
          /img/about-us/about-us-3.png    1x,
          /img/about-us/about-us-3@2x.png 2x
        "
        width="60"
        height="61"
        alt="img3"
      />
    </div>
  </div>
</section>
