<section id="benefits" class="benefits-container">
  <div>
    <h2 class="benefits-title">Benefits</h2>
  </div>
  <div>
    <ul class="benefits-list">
      <li class="benefits-block">
        <img
          src="../img/benefits/yellow-duck.png"
          alt="yellow duck"
          class="benefits-img"
        />
        <div class="benefits-block-text">
          <h4>Engaging Merging Mechanics</h4>
          <p>
            Combine items to create unique tools, decorations, and resources for
            your mansion.
          </p>
        </div>
      </li>
      <li class="benefits-block">
        <img
          src="../img/benefits/purple-trace.png"
          alt="purple trace"
          class="benefits-img"
        />
        <div class="benefits-block-text">
          <h4>Challenging Puzzles</h4>
          <p>Solve exciting puzzles that unlock new areas and rewards.</p>
        </div>
      </li>
      <li class="benefits-block">
        <img
          src="../img/benefits/green-home.png"
          alt="green home"
          class="benefits-img"
        />
        <div class="benefits-block-text">
          <h4>Mansion Customization</h4>
          <p>
            Design and decorate your dream home with endless creative
            possibilities.
          </p>
        </div>
      </li>
      <li class="benefits-block">
        <img
          src="../img/benefits/blue-fish.png"
          alt="blue fish"
          class="benefits-img"
        />
        <div class="benefits-block-text">
          <h4>Dynamic Storyline</h4>
          <p>
            Follow a heartwarming story as you rebuild and personalize the
            mansion.
          </p>
        </div>
      </li>
      <li class="benefits-block">
        <img
          src="../img/benefits/red-bone.png"
          alt="red bone"
          class="benefits-img"
        />
        <div class="benefits-block-text">
          <h4>Offline Play</h4>
          <p>
            Enjoy the game anywhere, anytime, even without an internet
            connection.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
