<section id="faq">
  <div class="faq-container container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              How do I start the game?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Download the app, install it, and press 'Play' to begin your mansion
            renovation journey.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Is the game free?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, Mansion Blast is free to play, with optional in-app purchases
            available.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Can I play without an internet connection?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Absolutely! You can enjoy the game offline and renovate your mansion
            anytime.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              What are the boosters?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Boosters are special tools that help you clear puzzles faster and
            unlock new areas more easily.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              How do I unlock new rooms in<br />
              the mansion?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Complete puzzles and merge items to earn rewards that allow you to
            access and renovate new rooms.
          </p>
        </div>
      </li>
      <li class="faq-item">
        <div class="faq-question-container">
          <h3 class="faq-question">
            <button class="faq-question-text" type="button">
              Can I personalize the mansion?
              <svg class="faq-acc-svg" width="32" height="32">
                <use
                  class="icon-arrow-up-down"
                  href="/img/faq.svg#icon-arrow-up-down"
                ></use>
              </svg>
            </button>
          </h3>
        </div>

        <div class="faq-answer">
          <p class="faq-answer-text">
            Yes, choose from a variety of decorations and designs to make the
            mansion uniquely yours.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
