<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-terms-list">
      <li class="footer-terms-item">
        <a href="./privacy-policy.html" class="footer-link"> Privacy Policy </a>
      </li>
      <li class="footer-terms-item">
        <a href="./terms&conditions.html" class="footer-link"
          >Terms and Conditions</a
        >
      </li>
    </ul>
    <p class="footer-text">
      <span>All rights reserved </span
      ><br class="mobile-only" />luckyquestgamehub.com | 2024
    </p>
  </div>
</footer>
