<section id="gallery" class="gallery-container">
  <div class="gallery-box">
    <div>
      <h2 class="gallery-title">Gallery</h2>
    </div>
    <div class="swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/slider-gallery/first.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/second.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/third.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/forth.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/fifth.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/sixth.jpg" alt="picture game" />
        </div>
        <div class="swiper-slide">
          <img src="../img/slider-gallery/seventh.jpg" alt="picture game" />
        </div>
      </div>
      <div class="triangle-prev">
        <svg class="" width="24" height="24" aria-label="prev">
          <use href="../img/sprite.svg#icon-pag-btn-prev"></use>
        </svg>
      </div>

      <div class="swiper-pagination">
        <svg
          class="swiper-pagination gallery-btn-slider-icon"
          width="24"
          height="24"
          aria-label="prev"
        >
          <use href="../img/sprite.svg#icon-pagination-dot-dis"></use>
        </svg>
      </div>
      <div class="triangle-next">
        <svg class="" width="24" height="24" aria-label="next">
          <use href="../img/sprite.svg#icon-pag-btn-next-active"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
