<header class="header">
  <div>
    <a
      href="https://play.google.com/store/apps/details?id=mansion.blast"
      class="logo"
    >
      <img src="../img/logo.png" alt="logo" class="logo-header" width="44" />
      <span class="header-name">Mansion Blast</span></a
    >
  </div>
  <nav class="header-navigation">
    <ul class="nav-list">
      <li><a href="#hero" class="header-nav-link">Home</a></li>
      <li><a href="#gallery" class="header-nav-link">Gallery</a></li>
      <li><a href="#about" class="header-nav-link">About Us</a></li>
      <li><a href="#benefits" class="header-nav-link">Benefits</a></li>
      <li><a href="#reviews" class="header-nav-link">Reviews</a></li>
      <li><a href="#FAQ" class="header-nav-link">FAQ</a></li>
    </ul>
  </nav>
</header>
