<header class="header">
  <div class="header-container">
    <div>
      <a
        href="https://play.google.com/store/apps/details?id=mansion.blast"
        class="logo"
      >
        <img src="./img/logo.png" alt="logo" class="logo-header" width="44" />
        <span class="header-name">Mansion Blast</span></a
      >
    </div>
    <nav class="header-navigation">
      <ul class="nav-list">
        <li><a href="#hero" class="header-nav-link">Home</a></li>
        <li><a href="#gallery" class="header-nav-link">Gallery</a></li>
        <li><a href="#about-us" class="header-nav-link">About Us</a></li>
        <li><a href="#benefits" class="header-nav-link">Benefits</a></li>
        <li><a href="#reviews" class="header-nav-link">Reviews</a></li>
        <li><a href="#faq" class="header-nav-link">FAQ</a></li>
      </ul>
    </nav>
    <button class="mobile-menu-open-btn" type="button">
      <svg
        class="mobile-menu-open-btn-icon"
        width="24"
        height="24"
        aria-label="mobile menu open icon"
      >
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile menu -->
<div class="mobile-menu-wraper">
  <div class="container-mobile">
    <header class="header mobile-header">
      <div>
        <a
          href="https://play.google.com/store/apps/details?id=mansion.blast"
          class="logo logo-mobile"
        >
          <img src="./img/logo.png" alt="logo" class="logo-header" width="44" />
          <span class="header-name">Mansion Blast</span></a
        >
      </div>
      <button class="mobile-menu-wraper-btn-close">
        <svg
          class="mobile-menu-wraper-btn-close-icon"
          width="16"
          height="16"
          aria-label="mobile menu close icon"
        >
          <use href="./img/sprite.svg#icon-Close-icon"></use>
        </svg>
      </button>
    </header>
    <nav class="mobile-nav">
      <ul class="mobile-menu-nav">
        <li>
          <a href="#hero" class="mobile-menu-item"
            >Home
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#gallery" class="mobile-menu-item"
            >Gallery
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#about-us" class="mobile-menu-item"
            >About Us
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#benefits" class="mobile-menu-item"
            >Benefits
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#reviews" class="mobile-menu-item"
            >Reviews
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#faq" class="mobile-menu-item"
            >FAQ
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <footer class="mobile-footer">
      <div class="footer-container-mob container-mob">
        <ul class="footer-terms-list-mob">
          <li class="footer-terms-item-mob">
            <a href="./privacy-policy.html" class="footer-link-mob">
              Privacy Policy
            </a>
          </li>
          <li class="footer-terms-item-mob">
            <a href="./terms&conditions.html" class="footer-link-mob"
              >Terms and Conditions</a
            >
          </li>
        </ul>
        <p class="footer-text-mob">
          <span>All rights reserved </span
          ><br class="mobile-only-mob" />luckyquestgamehub.com | 2024
        </p>
      </div>
    </footer>
  </div>
</div>
