<section id="hero" class="container-hero">
  <div class="hero-section">
    <img
      src="./img/img-hero.jpg"
      alt="Girl with pets"
      width="647"
      class="hero-picture"
    />
    <div class="text-box">
      <h1 class="hero-title">Mansion Blast</h1>
      <p class="hero-text">
        Blast, Merge, and Transform Your Dream Mansion into Reality!
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=mansion.blast"
        class="hero-btn"
        ><img src="./img/logos_google-play-icon.png" alt="logo google-play" />
        <div class="hero-btn-text">
          <span class="hero-get">GET IT ON</span>
          <span class="hero-google">Google Play</span>
        </div>
      </a>
    </div>
  </div>
</section>
