<section id="reviews">
  <div class="reviews-container container">
    <h2>Reviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper reviews-swiper-wrapper">
        <!-- Перший слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <p>
              "I love how each merge helps bring the mansion to life. Such a
              rewarding experience!"
            </p>
            <p>HomeDesigner</p>
          </div>
        </div>

        <!-- Другий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <p>
              "The puzzles are fun and challenging, and the graphics are simply
              stunning."
            </p>
            <p>PuzzleChampion</p>
          </div>
        </div>

        <!-- Третій слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <p>
              "This game is perfect for anyone who loves puzzles and interior
              design. A must-try!"
            </p>
            <p>CreativeCrafter</p>
          </div>
        </div>

        <!-- Четвертий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <p>
              "Merging items and renovating the mansion is so relaxing. Highly
              addictive!"
            </p>
            <p>DailyDecorator</p>
          </div>
        </div>

        <!-- П'ятий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <p>
              "The storyline is engaging, and I can't wait to see what the next
              room looks like!"
            </p>
            <p>BlastFan</p>
          </div>
        </div>
      </div>

      <!-- Пагінація (крапки) -->
      <div class="swiper-pagination reviews-swiper-pagination">
        <div>
          <svg class="reviews-pagination-dot" width="14" height="14">
            <use
              href="./img/reviews/sprite.svg#icon-reviews-pagination-dot"
            ></use>
          </svg>
        </div>
      </div>

      <!-- Стрілки для навігації -->
      <div class="swiper-button-next">
        <svg class="reviews-next-btn" width="14" height="26">
          <use href="./img/reviews/sprite.svg#icon-reviews-next-btn"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="reviews-back-btn" width="14" height="26">
          <use href="./img/reviews/sprite.svg#icon-reviews-back-btn"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
