<section id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper reviews-swiper-wrapper">
        <!-- Перший слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <div class="reviews-text-container">
              <p class="reviews-text-one">
                "I love how each merge helps bring the mansion to life. Such a
                rewarding experience!"
              </p>
              <p class="reviews-text-two">HomeDesigner</p>
            </div>
          </div>
        </div>

        <!-- Другий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <div class="reviews-text-container">
              <p class="reviews-text-one">
                "The puzzles are fun and challenging, and the graphics are
                simply stunning."
              </p>
              <p class="reviews-text-two">PuzzleChampion</p>
            </div>
          </div>
        </div>

        <!-- Третій слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <div class="reviews-text-container">
              <p class="reviews-text-one">
                "This game is perfect for anyone who loves puzzles and interior
                design. A must-try!"
              </p>
              <p class="reviews-text-two">CreativeCrafter</p>
            </div>
          </div>
        </div>

        <!-- Четвертий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <div class="reviews-text-container">
              <p class="reviews-text-one">
                "Merging items and renovating the mansion is so relaxing. Highly
                addictive!"
              </p>
              <p class="reviews-text-two">DailyDecorator</p>
            </div>
          </div>
        </div>

        <!-- П'ятий слайд -->
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-card-container">
            <svg class="reviews-svg-one" width="33" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-one"></use>
            </svg>
            <svg class="reviews-svg-two" width="32" height="32">
              <use href="./img/reviews/sprite.svg#icon-reviews-icon-two"></use>
            </svg>
            <svg class="reviews-svg-three" width="31" height="32">
              <use
                href="./img/reviews/sprite.svg#icon-reviews-icon-three"
              ></use>
            </svg>
            <div class="reviews-text-container">
              <p class="reviews-text-one">
                "The storyline is engaging, and I can't wait to see what the
                next room looks like!"
              </p>
              <p class="reviews-text-two">BlastFan</p>
            </div>
          </div>
        </div>
      </div>

      <div class="reviews-nav-container">
        <div class="swiper-button-next reviews-button-next">
          <svg class="reviews-next-btn" width="14" height="26">
            <use href="./img/reviews/sprite.svg#icon-reviews-next-btn"></use>
          </svg>
        </div>
        <div class="swiper-pagination reviews-swiper-pagination">
          <div class="paginstion-dots-container">
            <svg class="reviews-pagination-dot" width="14" height="14">
              <use href="./img/sprite.svg#icon-pagination-dot-dis"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-button-prev reviews-button-prev">
          <svg class="reviews-back-btn" width="14" height="26">
            <use href="./img/reviews/sprite.svg#icon-reviews-back-btn"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
