.benefits-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
  margin-bottom: 88px;
}
.benefits-title {
  text-align: center;
}
.benefits-prg {
  text-align: center;
}
.benefits-list {
  width: 1128px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.benefits-block {
  border-radius: 30px;
  background: $_header_color;
  width: 360px;
  margin-top: 86px;
  color: #fff;
  position: relative;
}
.benefits-block-text {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 312px;
  padding-bottom: 26px;
  margin-top: -34px;
}
.benefits-img {
  position: relative;
  width: 104px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
}
@media screen and (max-width: 1220px) {
  .benefits-title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }
  .benefits-list {
    width: 288px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .benefits-block {
    width: 288px;
    margin: 0 auto;
  }
  .benefits-container {
    width: 320px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .benefits-img {
    width: 40px;
    position: relative;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -150%) rotate(18deg);
  }
  .benefits-block-title {
    font-size: 24px;
  }
  .benefits-block-text {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 280px;
    padding: 0px 16px 16px 16px;
  }
}
