.gallery-container {
  width: 100%;
  align-items: center;
  margin-bottom: 88px;
}

.gallery-box {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 88px;
  min-width: 0;
}

.gallery-title {
  margin-bottom: 30px;
}

.swiper-pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 192px;
  margin-top: 34px;
}
.triangle {
  width: 14px;
  color: #1a7dff;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper {
  // width: 1200px;
  // height: 600px;
  // gap: 24px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.swiper-slide img {
  display: block;
  width: 936px;
  height: 416px;
  object-fit: cover;
}
.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
.icon {
  width: 14px;
  height: 14px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.swiper-pagination svg {
  width: 14px;
  height: 14px;
  fill: #000;
}
@media (max-width: 1200px) {
  .gallery-box {
    margin-top: 60px;
    width: 320px;
  }
  .gallery-container {
    margin-bottom: 60px;
  }
  .swiper {
    width: 320px;
  }
  .swiper-pagination-box {
    display: none;
  }
  .swiper-slide img {
    width: 264px;
    height: 123px;
    border-radius: 20px;
  }
}
