.gallery-container {
  width: 100%;
}
.gallery-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
  min-width: 0;
}
.gallery-title {
  font-family: Boogaloo;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0%;
  line-height: 78px;
  color: $_header_accent_color;
  text-shadow: 0px 0px 4px #1a7dff;
  margin-bottom: 30px;
}
.swiper-container {
}
.icon {
  width: 14px;
}
.swiper-pagination {
}
.swiper-pagination-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
