.gallery-container {
  width: 100%;
  align-items: center;
  margin-bottom: 88px;
}
.gallery-box {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 88px;
  min-width: 0;
}
.gallery-title {
  font-family: Boogaloo;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0%;
  line-height: 78px;
  color: $_header_accent_color;
  margin-bottom: 30px;
}
.swiper-pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 192px;
  margin-top: 34px;
}
.triangle {
  width: 14px;
  color: #1a7dff;
  fill: #016bec;
  opacity: #016bec;
  stroke: #016bec;
}
.triangle-prev {
  transform: rotate(180deg);
}
.gallery-triangle-btn {
  border: none;
  background-color: transparent;
}
.gallery-btn-slider-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.gallery-triangle-btn:hover,
.gallery-triangle-btn:focus {
  fill: #016bec;
  opacity: #016bec;
  stroke: #016bec;
  stroke-width: 2px;
  stroke-opacity: 0.2;
  filter: drop-shadow(-1px -2px 2px #016bec);
}
.gallery-triangle-btn:active {
  fill: #016bec;
  opacity: #016bec;
  stroke: #016bec;
  stroke-width: 2px;
  stroke-opacity: 0.2;
  filter: drop-shadow(-1px -2px 6px #016bec);
}
.swiper-container {
  width: 87.5%;
  height: 100%;
}
.swiper {
  width: 1200px;
  // height: 600px;
  // gap: 24px;
}
.swiper-slide {
  display: flex;
  width: 936px;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.swiper-slide img {
  display: block;
  width: 936px;
  height: 416px;
  object-fit: cover;
  border-radius: 40px;
}
.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
.icon {
  width: 14px;
  height: 14px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.swiper-pagination svg {
  width: 14px;
  height: 14px;
  fill: #70aeff;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #70aeff;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #016bec;
}
@media (max-width: 1200px) {
  .gallery-box {
    width: 288px;
    margin-top: 60px;
    width: 320px;
  }
  .gallery-container {
    margin-bottom: 60px;
  }
  .gallery-title {
    font-size: 28px;
    line-height: 34px;
  }
  .swiper {
    width: 288px;
  }
  .swiper-pagination-box {
    display: none;
  }
  .swiper-slide img {
    width: 264px;
    height: 123px;
    border-radius: 20px;
  }
}
