.header {
  position: sticky;
  padding: 14px 0;
  margin: 0 auto;
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: $_header_color;
}

.logo {
  padding-left: 36px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-name {
  font-family: Boogaloo;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffc800;
}
.header-navigation {
  display: flex;
  align-items: center;
  padding-right: 36px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.header-nav-link {
  font-family: Boogaloo;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.header-nav-link:hover,
.header-av-link:focus {
  color: $_header_accent_color;
}
.header-nav-link:active {
  color: $_header_active_color;
}
.header-nav-link.active {
  color: $_header_active_color;
}
