.hero-picture {
  border-radius: 40px;
}
.container-hero {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.hero-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 54px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 672px;
}
.hero-btn {
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 6px;
  width: 242px;
  height: 70px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
  background-color: #2f2f2f;
}
.hero-btn:hover {
  box-shadow: 0 0 24.39px #2f63b6;
}
.hero-btn:active,
.hero-btn:focus {
  box-shadow: 0 0 8px #1a7dff;
}
.hero-title {
}
.hero-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  line-height: 26px;
}
.hero-btn-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
.hero-get {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 24px;
}
.hero-google {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  line-height: 26px;
}
@media (max-width: 1200px) {
  .container-hero {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }

  .hero-section {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .text-box {
    width: 100%;
    padding: 0 16px;
    gap: 24px;
    align-items: center;
  }

  .hero-title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }

  .hero-text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .hero-btn {
    width: 192зч;
    height: 54px;
    margin-top: 24px;
    justify-content: flex-start;
    padding: 0 16px;
  }

  .hero-btn-text {
    text-align: center;
  }
}
