.reviews-card-container {
  padding: 85px 17px 61px 16px;
  background: #f8ecd2;
  border: 2px solid #fe8947;
  border-radius: 30px;
}

.reviews-swiper-slide {
  background: #f8ecd2;
  /* border: 2px solid #fe8947; */
  border-radius: 30px;
  /* max-width: 260px; */
  /* height: 274px; */
  margin-right: 16px;
}

.reviews-title {
  font-size: 28px;
  margin-bottom: 24px;
}

.reviews-text-one {
  font-family: 'Boogaloo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #9b3c00;
}

.reviews-text-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  color: #9b3c00;
}

.reviews-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 227px;
  height: 128px;
}

.reviews-svg-one {
  position: absolute;
  top: 32px;
  left: calc(50% - 14px);
}

.reviews-svg-two {
  position: absolute;
  top: 20px;
  left: 28px;
  margin-bottom: 24px;
}

.reviews-svg-three {
  position: absolute;
  top: 220px;
  right: 28px;
}

@media (min-width: 1200px) {
  .reviews-container {
    position: relative;
  }

  .reviews-card-container {
    padding: 110px 24px 24px 24px;
  }

  .reviews-swiper-slide {
    /* border: 2px solid #fe8947; */
    border-radius: 30px;
    background: #f8ecd2;
    /* max-width: 360px;
    height: 286px; */
  }

  .reviews-swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /* width: 1896px;
    height: 286px; */
  }

  .reviews-title {
    font-size: 64px;
    margin-bottom: 30px;
  }

  .reviews-text-one {
    font-size: 28px;
    line-height: 1.21429;
  }

  .reviews-text-container {
    width: 312px;
    height: 152px;
  }

  .reviews-svg-one {
    position: absolute;
    top: 32px;
    left: calc(50% - 14px);
  }

  .reviews-svg-two {
    position: absolute;
    top: 20px;
    left: 28px;
    margin-bottom: 24px;
  }

  .reviews-svg-three {
    position: absolute;
    top: 240px;
    right: 28px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .reviews-nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    width: 168px;
    max-height: 44px;
    margin-top: 54px;
    margin-left: 516px;
  }

  .reviews-next-btn:active:hover,
  .reviews-prev-btn:active:hover {
    fill: #016bec;
  }

  .reviews-next-btn:active,
  .reviews-prev-btn:active {
    filter: drop-shadow(-1px -2px 6px #5294ff);
  }

  .pagination-dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
