.reviews-card-container {
  border: 2px solid #fe8947;
  border-radius: 30px;
  padding: 24px;
  width: 260px;
  height: 274px;
  background: #f8ecd2;
  padding: 85px 17px 61px 16px;
}

.reviews-title {
  font-family: 'Boogaloo', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21429;
  text-align: center;
  color: #ffc800;
  text-shadow: 1px 1px 0 #0048bc, -1px -1px 0 #0048bc, 1px -1px 0 #0048bc,
    -1px 1px 0 #0048bc;
  margin-bottom: 24px;
}

.reviews-text-one {
  font-family: 'Boogaloo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #9b3c00;
}

.reviews-text-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  color: #9b3c00;
}

.reviews-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
