@import './footer.css';
@import './privacy-policy.css';
@import './terms&conditions.css';

// Імпорт стилів Swiper
// @import 'swiper/swiper-bundle.css';

.container {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
  }
}
